@import "../../styles/index.scss";

.toggle {
  position: relative;
  display: inline-block;

  &.sm {
    width: 34px;
    height: 22px;
  }

  &.md {
    width: 50px;
    height: 30px;
  }

  &.lg {
    width: 68px;
    height: 38px;
  }

  &_checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white-color;
    transition: 0.4s;
    border-radius: 100px;

    &.sm:before {
      height: 14px;
      width: 14px;
    }

    &.md:before {
      width: 22px;
      height: 22px;
    }

    &.lg:before {
      width: 30px;
      height: 30px;
    }
  }

  &_slider:before {
    position: absolute;
    content: "";
    left: 4px;
    bottom: 4px;
    background-color: $bg-dark-color;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + &_slider {
    background-color: $primary-color;
  }

  input:focus + &_slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + &_slider.sm:before {
    transform: translateX(12px);
  }

  input:checked + &_slider.md:before {
    transform: translateX(20px);
  }

  input:checked + &_slider.lg:before {
    transform: translateX(30px);
  }
}
