@import "../../../styles/index.scss";

.login {
  display: flex;
  .form_box {
    @include flex-V-all-center;
    gap: 40px;
    width: 50%;

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 400px;
      width: 100%;
      padding: 15px;

      .input_error {
        font-size: 14px;
        color: $danger-color;
      }
    }
  }

  &_void {
    @include flex-all-center;
    position: relative;
    width: 50%;
    height: 100vh;
    background: $bg-dark-light-color;

    .void_circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $primary-color;
    }

    .void_blur {
      position: absolute;
      width: 100%;
      height: 50vh;
      bottom: 0;
      backdrop-filter: blur(15px);
    }
  }
}
