@import "../../../styles/index.scss";

.login {
  @include flex-V-all-center;
  height: 100%;
  width: 100%;
  gap: 40px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    width: 100%;
    padding: 15px;
    z-index: 2;

    .input_error {
      font-size: 14px;
      color: $danger-color;
    }
  }
}
