@import "../../styles/index.scss";

.basicLayout {
  min-height: 100vh;
  color: #f7f7f9;
  background: #212227;
  .header {
    background: #151517;
    padding: 10px 0;

    a {
      color: #f7f7f9;
      border-radius: 2px;
      padding: 6px 12px;
      &:hover {
        background: #262629;
      }
    }
  }

  .content {
    margin-top: 20px;

    &Split {
      display: flex;
      gap: 20px;
      width: 100%;
    }

    .leftSideBlock {
      width: 100%;
    }

    .simplemde-editor-2-wrapper {
      width: auto;
    }

    .rightSideBlock {
      max-width: 300px;
      width: 100%;
      border-radius: $border-radius;
      height: 400px;
      background: $bg-dark-light-color;
    }
  }
}
