@import "../../styles/index.scss";

.basicLayout {
  min-height: 100vh;
  color: $white-color;
  background: $bg-dark-color;
  .header {
    background: #151517;
    padding: 10px 0;

    a {
      color: $white-color;
      border-radius: 2px;
      padding: 6px 12px;
      &:hover {
        background: #262629;
      }
    }
  }

  .content {
    margin-top: 20px;

    &Split {
      display: flex;
      gap: 40px;
      width: 100%;
    }

    .leftSideBlock {
      width: 100%;
    }

    .rightSideBlock {
      max-width: 300px;
      width: 100%;
      border-radius: $border-radius;
      height: 400px;
      background: $bg-dark-light-color;
    }
  }
}
