@import "../../styles/index.scss";

.input {
  padding: 15px 25px;
  border-radius: $border-radius;
  border: none;
  color: $white-color;
  width: 100%;

  &.filled {
    background: $white-color;
    color: black;
    border: 2px solid transparent;
  }

  &.outline {
    background: inherit;
    border: 2px solid $primary-color;
  }

  &.unstyled {
    background: none;
  }

  &.underline {
    background: none;
    border-radius: 0;
    border-bottom: 2px solid $primary-color;
  }

  &.nonValid {
    border: 2px solid $danger-color;
    box-shadow: 0 0 0 2px $white-color;
  }
}
