.input {
  padding: 15px 25px;
  border-radius: 4px;
  border: none;
  color: #f7f7f9;

  &.filled {
    background: #f7f7f9;
    color: black;
    border: 2px solid transparent;
  }

  &.outline {
    background: inherit;
    border: 2px solid rgb(197, 239, 128);
  }

  &.unstyled {
    background: none;
  }

  &.underline {
    background: none;
    border-radius: 0;
    border-bottom: 2px solid rgb(197, 239, 128);
  }

  &.nonValid {
    border: 2px solid red;
    box-shadow: 0 0 3px 2px #f7f7f9;
  }
}
