@import "../../../styles/index.scss";

.registration {
  display: flex;
  .form_box {
    @include flex-V-all-center;
    gap: 40px;
    width: 50%;
    box-shadow: 0 10px 35px 10px $bg-dark-color;
    z-index: 1;

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 400px;
      width: 100%;
      padding: 15px;

      .input_error {
        font-size: 14px;
        color: $danger-color;
      }
    }
  }

  &_void {
    @include flex-all-center;
    background: url("../../../assets/auth-bg.jpg") no-repeat;
    background-size: 100%;
    background-position: 0 20%;
    position: relative;
    width: 50%;
    height: 100vh;
  }
}
