@import "../../styles/index.scss";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: $border-radius;
  cursor: pointer;
  font-family: "GilroyRegular", sans-serif;

  span {
    display: flex;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &.size_sm {
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
  }

  &.size_md {
    font-size: 16px;
    line-height: 16px;
    padding: 6px;
  }

  &.size_lg {
    font-size: 20px;
    line-height: 20px;
    padding: 8px;
  }

  &.primary {
    background: $primary-color;
    border: 1px solid $primary-color;

    &:not(:disabled):hover {
      background: none;
      color: $white-color;
    }
  }

  &.outline {
    background: none;
    color: $white-color;
    border: 1px solid $primary-color;

    &:hover {
      background: $bg-dark-color;
    }
  }

  &.default {
    background: none;
    border: 1px solid transparent;
    color: $white-color;

    &:hover {
      background: $bg-dark-color;
    }
  }

  &.danger {
    background: $danger-color;
    border: 1px solid $danger-color;

    &:not(:disabled):hover {
      background: none;
      color: $white-color;
    }
  }

  &.full {
    width: 100%;
    justify-content: center;
  }
}
