.btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &.size_sm {
    font-size: 12px;
    padding: 4px 12px;
  }

  &.size_md {
    font-size: 16px;
    padding: 6px 18px;
  }

  &.size_lg {
    font-size: 20px;
    padding: 8px 24px;
  }

  &.primary {
    background: rgb(197, 239, 128);
    border: 1px solid rgb(197, 239, 128);

    &:hover {
      background: none;
      color: #f7f7f9;
    }
  }

  &.outline {
    background: none;
    color: #f7f7f9;
    border: 1px solid rgb(197, 239, 128);

    &:hover {
      background: rgba(196, 239, 128, 0.05);
    }
  }

  &.default {
    background: none;
    border: 1px solid transparent;
    color: #f7f7f9;

    &:hover {
      background: rgba(196, 239, 128, 0.05);
    }
  }

  &.full {
    width: 100%;
    justify-content: center;
  }
}
