.alert {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border-radius: 8px;
  padding: 10px 25px;

  &.error {
    background: #f42c0450;
    border: 1px solid #f42c04;
    color: #f42c04;
  }

  &.success {
    background: #c6f91f50;
    border: 1px solid #c6f91f;
    color: #c6f91f;
  }

  &.warning {
    background: #ff855250;
    border: 1px solid #ff8552;
    color: #ff8552;
  }

  .icon {
    display: flex;
    align-items: center;
  }
}
