@import "../../styles/index.scss";

.alert {
  display: flex;
  align-items: center;
  gap: 10px;
  background: $white-color;
  border-radius: $border-radius;
  padding: 10px 25px;

  &.error {
    background: $danger-color-05;
    border: 1px solid $danger-color;
    color: $danger-color;
  }

  &.success {
    background: $success-color-05;
    border: 1px solid $success-color;
    color: $success-color;
  }

  &.warning {
    background: $warning-color-05;
    border: 1px solid $warning-color;
    color: $warning-color;
  }

  .icon {
    display: flex;
    align-items: center;
  }
}
